<mat-toolbar style="background: #005CBB">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"> </span>
  <button mat-button routerLink="/admin/home" style="color:white">Home</button>
  <button mat-button routerLink="/admin/profile" style="color:white">Profile</button>

  <button  mat-button [matMenuTriggerFor]="importMenu" style="color:white">
    <mat-icon iconPositionEnd>arrow_drop_down</mat-icon>
    Import
  </button>
  <mat-menu #importMenu>
    <button mat-menu-item routerLink="/admin/loadStudents">Load Students</button>
    <button mat-menu-item routerLink="/admin/loadPayments">Load Payments</button>
  </mat-menu>
  <button mat-button *ngIf="authService.authenticated==true"
          style="color:white">
    {{ authService.username }}
  </button>
  <button (click)="logout()" mat-raised-button color="accent">Logout</button>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="start" opened="true"
              style="background: aliceblue;width: 200px;color: white">
    <mat-nav-list>
      <mat-list-item>
        <button mat-button routerLink="/dashboard">
          <mat-icon>dashboard</mat-icon>
          Dashboard
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/admin/students">
          <mat-icon>supervised_user_circle</mat-icon>
          Students
        </button>
      </mat-list-item>

      <mat-list-item>
        <button mat-button routerLink="/admin/payments">
          <mat-icon>payment</mat-icon>
          Payments
        </button>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet>

      </router-outlet>
    </div>
  </mat-drawer-content>

</mat-drawer-container>


